<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body >
    {% for movie in movies %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Movie name: {{ movie.name }}</h2>
            <h4 class="card-subtitle mb-2 text-muted">Year: {{ movie.year|date:"Y" }}</h4>
            <p class="card-text"><strong>Actor:</strong> {{ movie.actor }}</p>
            <p class="card-text"><strong>Actress:</strong> {{ movie.actress }}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>